PORT=5000
CLIENT_URL=http://localhost:5173
MONGODB_URI=mongodb+srv://omzala635_db_user:xchzraE5C2numsEc@cluster0.ockx6ex.mongodb.net/?appName=Cluster0
JWT_SECRET=e8668e9894f032a6f8571850b13b49173cd94fc144985e9601b592761b26f421
GOOGLE_CLIENT_ID=454978412526-2uu1baucqa8ha3f8b2l2rm2hkk09k6fu.apps.googleusercontent.com
GEMINI_API_KEY=AIzaSyDIdh-mtHKUpv-QnCr_pVynTIdqAsUR-Io
GEMINI_MODEL=gemini-2.5-flash
